.content-ppy {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.content-ppy .privacy {
    margin: 20px;
    border-radius: 6px;
    background: var(--back);
    padding: 10px;
    display: block;
    max-width: 700px;
}

.content-ppy .privacy .center {
    text-align: center;
}

.content-ppy .privacy h1 {
    color: var(--text);
    font-family: monospace;
    margin: 10px 0;
}

.content-ppy .privacy h2 {
    color: var(--text);
    font-family: monospace;
    margin: 20px 0 10px;
}

.content-ppy .privacy h3 {
    margin: 15px 0 0;
    color: var(--text);
    font-family: monospace;
}

.content-ppy .privacy h4 {
    margin: 10px 0 0;
    color: var(--text);
    font-family: monospace;
}

.content-ppy .privacy p {
    margin: 5px 5px 0;
    color: var(--text);
    font-family: monospace;
    font-size: 14px;
}

.content-ppy .privacy ul {
    color: var(--text);
    font-family: monospace;
    margin: 10px 0 0;
}

.content-ppy .privacy li {
    color: var(--text);
    font-family: monospace;
}

.content-ppy .privacy .break {
    height: 20px;
    width: 100%;
}

@media (max-width: 740px) {

	.content-ppy .privacy {
        margin: 0;
        border-radius: 0;
        padding: 10px;
    }

}