:root {
	--text: #dddddd;
	--text-2: #a3a3a3;
	--back: #2d3134;
	--back-2: #4b555c;
	--highlight: #1683bd;
	--highlight-2: #10618d;
}

body {
	background: var(--back-2);
	margin: 0;
}

#root {
	height: 100%;
    width: 100%;
}

footer {
	background-color: var(--back);
    min-height: 60px;
    width: 100%;
    display: flex;
	flex-wrap: nowrap;
	justify-content: center;
    align-items: center;
}

footer h3 {
	color: var(--text);
	font-family: monospace;
	font-weight: normal;
	margin: 0 20px;
}

footer a {
	color: var(--text);
	font-family: monospace;
	text-decoration: none;
}

@media (max-width: 540px) {

	nav .nav-right {
		align-items: center;
		flex-wrap: wrap;
		justify-content: flex-end;
	}

	nav .nav-right a {
		margin: 3px;
		font-size: 16px;
	}

}